.sidebar {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 70px;
    background: #111;
    color: white;
    overflow: hidden;
    transition: width 0.3s ease;

    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar.expanded {
    width: 220px;
    justify-content: flex-start;
}

.sidebar ul {
    list-style: none;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.sidebar li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    justify-content: flex-start;
    cursor: pointer;
    width: 100%;
    padding: 10px 0;
    transition: background 0.3s;
}

.sidebar li:hover {
    background: rgba(255, 255, 255, 0.1);
}

.icon {
    font-size: 22px;
    width: 23px;
    text-align: center;
    opacity: 0.8;
}

.label {
    font-size: 18px;
    white-space: nowrap;
    margin-left: 10px;
    text-align: center;
    width: 100%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
