.carousel {
  position: relative;
  width: calc(100vw - 70px);
  height: 100vh;
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  background-color: black;
}

.main-content {
  margin-left: 70px;
  /* ancho del sidebar colapsado */
  transition: margin-left .3s ease;
}

/* Cuando el sidebar se expande*/
.sidebar.expanded~.main-content {
  margin-left: 220px;
  overflow-y: hidden;
}


/* Slide individual */
.slide {
  position: absolute;
  inset: 0;
  background-size: cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
}

/* Contenido encima */
.content {
  background-color: rgba(0, 0, 0, .7);
  padding: 20px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  position: absolute;
  bottom: 15%;
  left: 5%;
  max-width: 77%;
  color: white;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, .7);

  transform-style: preserve-3d;
  transition: transform 0.2s ease-out;
  border-radius: 10px;
  backdrop-filter: blur(2px);
  will-change: transform;

  max-height: 60vh;
  overflow-y: auto;
}

/* Flechas */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  color: white;
  background: rgba(0, 0, 0, 0.3);
  border: none;
  padding: 10px 18px;
  cursor: pointer;
  z-index: 10;
  transition: 0.3s;
  border-radius: 500px;
  width: 85px;
  height: 85px;
}

@media (max-width: 900px) {
  .arrow {
    display: none;
  }
}

.arrow:hover {
  background: rgba(0, 0, 0, 0.5);
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

/* Dots */
.dots {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 12px;
}

.dot {
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: 0.3s;
}

.dot.active {
  background: white;
  transform: scale(1.3);
}






.holo-enter {
  opacity: 0;
  transform: translateZ(-80px) scale(0.9);
  filter: blur(10px);
  animation: holoFade 1.4s ease forwards;
}

@keyframes holoFade {
  0% {
    opacity: 0;
    transform: translateZ(-80px) scale(0.9);
    filter: blur(12px);
    box-shadow: 0 0 0px rgb(244, 244, 244);
  }

  50% {
    opacity: 0.6;
    filter: blur(6px);
    box-shadow: 0 0 12px rgb(255, 255, 255);
  }

  100% {
    opacity: 1;
    transform: translateZ(0) scale(1);
    filter: blur(0);
    box-shadow: 0 0 25px rgba(253, 253, 253, 0.4);
  }
}

@media (max-width: 600px) {
  .carousel .content {
    bottom: 8%;
    padding: 15px;
    border-radius: 12px;
    max-height: 60vh;
    overflow-y: auto;
  }
}